@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
margin: 0px;
box-sizing: border-box;
}

body{
    font-family: 'Heebo', sans-serif;
    background-color: rgb(236, 219, 182);
    width: 100%;
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin:20px 0px;
    font-size: 22px;
}

form{
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    align-items: flex-start;
    box-shadow: 5px 5px 6px rgb(185, 184, 184);

}

label{
    display: block;
    margin-bottom: 1px;
}

input, select{
    border: none;
    width: 100%; 
    height: 30px;
    border-bottom: 1px solid black;
    outline: none;
    
}

form .formContenedor{
margin: 10px  0px ;
width: 100%;
}

::placeholder{
    color: rgb(185, 184, 184)
}

form .submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

form #submit{
    width: 50%;
    background-color: rgb(72, 239, 245);  
    padding: 8px;
    border-radius: 4px;
    
    cursor: pointer;
    border: none;
}

#errores{
    font-size: small;
    color: rgb(255, 0, 0);
}

@media (max-width: 320px) {

    form{
        width: 250px;
    }


    form .formContenedor {
        margin: 7px 0px;
    
}}